* {
    margin: 1rem;
    padding: 1px;
    box-sizing: border-box;
}

/*html, body{
    height: 100%;
    background: linear-gradient(300deg, #6155A6, #A685E2, #FFABE1);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; 
}*/

.speech-assistant {
    padding: 2px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 10%;
    max-width: 70%;
    align-self: start;
    background-color: #a6e7f6;
    float: left;
    text-align: left;
    
}

.speech-user {
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 10%;
    max-width: 70%;
    align-self: end;
    background-color: #6ac47e;
    border-radius: 10px;
    float: right;
    text-align: right;
    
}

.gradient-background {
    background: linear-gradient(300deg, #6155A6, #A685E2, #FFABE1);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
